<!DOCTYPE html>
<html>
  <head>
    <title>Resource List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>Resources</h1>
      <a href="{% url 'add_resource' %}" class="add-resource-button"
        >Add Resource</a
      >
    </header>
    <form method="GET">
      <fieldset>
        <legend>Category</legend>
        {% for category in categories %}
        <label>
          <input type="checkbox" name="category" value="{{ category }}" />
          {{ category }} </label
        ><br />
        {% endfor %}
      </fieldset>

      <fieldset>
        <legend>Location</legend>
        {% for location in locations %}
        <label>
          <input type="checkbox" name="location" value="{{ location }}" />
          {{ location }} </label
        ><br />
        {% endfor %}
      </fieldset>

      <button type="submit">Filter</button>
    </form>
    <ul>
      {% for resource in resources %}
      <li>
        {{ resource.name }} - {{ resource.category }} - {{ resource.location }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
