<!DOCTYPE html>
<html>
  <head>
    <title>Resource List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>Resources</h1>
    <a href="{% url 'add_resource' %}">Add Resource</a>
    <form method="GET">
      <label>
        <input type="checkbox" name="category" value="category" /> Category {%
        for resource in resources %} {{resource.category}} {% endfor %}
      </label>
      <label>
        <input type="checkbox" name="location" value="location" /> Location {%
        for resource in resources %} {{resource.location}} {% endfor %}
      </label>
      <button type="submit">Filter</button>
    </form>

    <ul>
      {% for resource in resources %}
      <li>{{resource.name}} | {{resource.category}} | {{resource.location}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
